.container-habitacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-color: #FFFFFF;
    max-width: 1000px;
    min-width: 600px;
}

.inner-container-habitacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin-top: 15px;
}

.titleHabitacion {
    font-size: 24px;
    margin-bottom: 20px;
    color: #01579B;
}

.table-container-habitacion {
    margin-top: 20px;
    overflow-x: auto;
    width: 70%;
}

.table-container-habitacion table {
    border-collapse: collapse;
    width: 100%;
}

.table-container-habitacion th,
.table-container-habitacion td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
    font-size: 15px;
}

.table-container-habitacion th {
    background-color: #f2f2f2;
    font-size: 16px;
    font-weight: bold;
    min-width: 100px;
}

.table-container-habitacion th:nth-child(2),
.table-container-habitacion td:nth-child(2) {
    width: 90%;
}

.table-container-habitacion th:nth-child(3),
.table-container-habitacion td:nth-child(3) {
    width: 20%;
}

.table-container-habitacion tr:hover {
    background-color: #f5f5f5;
}

.button {
    color: #fff;
    background-color: #00bcd4;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #0097a7;
}

.total {
    font-size: 20px;
    margin-top: 20px;
    text-align: right;
}